<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/download.jpeg">
    <title>Design</title>
</head>

<body>
    <img src="static/images/{{img}}" style="height: 100px; width: 100px;">
    <br>
    {{dname}}
    <br>
    {{dlname}}
    <br>
    {{ds1}}
    <br>
    {{ds2}}
    <br>
    {{ds3}}
    <br>
    {{ds4}}
    <br>
    {{no}}
    <br>
    {{email}}
    <br>
    {{school}}
    <br>
    {{college}}
    <br>
    {{about}}
    <br>
    {{git}}
    <br>
    {{insta}}

</body>

</html>